<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97224884708-fms4jb5i3grdh9k4vqm7vv1vk3mnl36q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97224884708-fms4jb5i3grdh9k4vqm7vv1vk3mnl36q</string>
	<key>API_KEY</key>
	<string>AIzaSyDPppEXohe0fsG1DWKiivRswsL6AsrPRnc</string>
	<key>GCM_SENDER_ID</key>
	<string>97224884708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appgoritmo.easystoremx</string>
	<key>PROJECT_ID</key>
	<string>easy-store-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-store-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97224884708:ios:0394e7474d3e9ece4947f1</string>
</dict>
</plist>