<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859051142862-iek2qf1vhu9q6mfdiut20ioj3babfajc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859051142862-iek2qf1vhu9q6mfdiut20ioj3babfajc</string>
	<key>API_KEY</key>
	<string>AIzaSyCpbChxmRawV1KRLEi0gpkwUOBbmRVNz3c</string>
	<key>GCM_SENDER_ID</key>
	<string>859051142862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appgoritmo.enelviajemx</string>
	<key>PROJECT_ID</key>
	<string>enelviajeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>enelviajeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859051142862:ios:61fbae2bd72f2a0408aa9f</string>
	<key>DATABASE_URL</key>
	<string>https://enelviajeapp.firebaseio.com</string>
</dict>
</plist>